{{! para colocar el contenido principal }}
{{! clase index para estilizar la imagen }}
<main class="index">
  {{! para poner un titulo dentro de un contenedor centrado }}
  {{! d-flex: display flex de bootstrap para usar flexbox }}
  <header class="masthead d-flex">
    {{! marginY-auto : centrado vertical}}
    <div class="container text-center my-auto">
        {{!-- margin botom 1 : para que se separe con lo que esta abajo --}}
      <h1 class="mb-1">Favorite Links</h1>
      {{!-- em : enfasis --}}
      <h3 class="mb-5">
            <em>Almacena tus links favoritos...</em>
      </h3>
      <a href="/signin" class="btn btn-primary">Empecemos..</a>
    </div>
  </header>
</main>